@model WebApp.Models.AwesomeEntity

<form asp-controller="Awesome" asp-action="Insert" method="post">
    <input asp-for="Timestamp" type="hidden" />
    <input asp-for="Xmin" type="hidden" />
    <input asp-for="Uid" type="hidden"/>
    
    <input asp-for="Name" type="text"/>
    
    <button type="submit">Save</button>
</form>
