@model WebApp.Models.AwesomeEntity

<form asp-controller="Awesome" asp-action="Save" method="post">
    <input asp-for="Timestamp" type="hidden" value="@Model.Timestamp" />
    <input asp-for="Uid" type="hidden" value="@Model.Uid"/>
    
    <input asp-for="Name" type="text" value="@Model.Name"/>
    
    <button type="submit">Save</button>
</form>
